<a href="https://colab.research.google.com/github/ggttg/Python-/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input('Enter the name ')
rollno = input('Enter the roll number ')
marks = input('Enter the marks')
print('Name:',name)c/5=f-32/9
print('Roll Number:',rollno)
print('Marks:',marks)

Enter the name Anu
Enter the roll number 123
Enter the marks98
Name: Anu
Roll Number: 123
Marks: 98

In [ ]:
faren = float(input('Enter the temperature in farenheit'))
celsius = (faren - 32) / 1.8
print('Temperature in celsius:',celsius)

Enter the temperature in farenheit98
Temperature in celsius: 36.666666666666664

In [ ]:
a = int(input('Enter the first number'))
b = int(input('Enter the second number'))
print('Product of a and b:', a*b)

Enter the first number12
Enter the second number10
Product of a and b: 120

In [ ]:
message ='“Learn Python by Developing a Website”'
m1=message[0:6]
m2=message[7:13]
m3=message[14:29]
m4=message[30:37]
m5=message[37:38]
print(m1,'**'+ m2,'**'+ m3,'**'+ m4,'**'+ m5)

“Learn **Python **by Developing a **Website **”

In [34]:
import math

r = int(input('Enter the radius'))
print('area = ',math.pi*r*r )

Enter the radius2
area =  12.566370614359172

In [33]:
list1=[2,4,6,10]
list1.insert(3,8)
list1

[2, 4, 6, 8, 10]

In [36]:
dict1 = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
dict1['city'] = "Kochi"
dict1

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'Kochi'}

In [38]:
dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
dict['emp3']['salary']=8500
dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}